k8s-tls-pki/admin-csr.json             
k8s-tls-pki/admin-key.pem              
k8s-tls-pki/admin.csr               
k8s-tls-pki/admin.pem               
k8s-tls-pki/admin.kubeconfig
k8s-tls-pki/ca-config.json             
k8s-tls-pki/ca-csr.json                
k8s-tls-pki/ca-key.pem               
k8s-tls-pki/ca.csr               
k8s-tls-pki/ca.pem               
k8s-tls-pki/encryption-config.yaml     
k8s-tls-pki/kube-controller-manager-csr.json
k8s-tls-pki/kube-controller-manager-key.pem
k8s-tls-pki/kube-controller-manager.csr
k8s-tls-pki/kube-controller-manager.kubeconfig
k8s-tls-pki/kube-controller-manager.pem
k8s-tls-pki/kube-scheduler-csr.json
k8s-tls-pki/kube-scheduler-key.pem
k8s-tls-pki/kube-scheduler.csr
k8s-tls-pki/kube-scheduler.kubeconfig
k8s-tls-pki/kube-scheduler.pem
k8s-tls-pki/kube-proxy-csr.json        
k8s-tls-pki/kube-proxy-key.pem         
k8s-tls-pki/kube-proxy.csr             
k8s-tls-pki/kube-proxy.kubeconfig      
k8s-tls-pki/kube-proxy.pem             
k8s-tls-pki/kubernetes-csr.json        
k8s-tls-pki/kubernetes-key.pem         
k8s-tls-pki/kubernetes.csr             
k8s-tls-pki/kubernetes.pem             
k8s-tls-pki/worker-0-csr.json          
k8s-tls-pki/worker-0-key.pem
k8s-tls-pki/worker-0.csr
k8s-tls-pki/worker-0.kubeconfig
k8s-tls-pki/worker-0.pem
k8s-tls-pki/worker-1-csr.json
k8s-tls-pki/worker-1-key.pem
k8s-tls-pki/worker-1.csr
k8s-tls-pki/worker-1.kubeconfig
k8s-tls-pki/worker-1.pem
k8s-tls-pki/worker-2-csr.json
k8s-tls-pki/worker-2-key.pem
k8s-tls-pki/worker-2.csr
k8s-tls-pki/worker-2.kubeconfig
k8s-tls-pki/worker-2.pem
k8s-tls-pki/service-account-key.pem
k8s-tls-pki/service-account.csr
k8s-tls-pki/service-account.pem
k8s-tls-pki/service-account-csr.json
.idea
vagrant/ubuntu-bionic*.log
vagrant/.vagrant
temp